<div class="container detail-container">
  <img src="{{artObject.primaryImageSmall}}" class="img-responsive" >
  <div class="details">
      <h4>{{artObject.title}}</h4>
    <hr/>
    <div class="info" >
      <div class="header">
        Department
      </div>
      <div class="body">
        {{artObject.department}}
      </div>
    </div>
    <div class="info" >
      <div class="header">
        Object Name (type)
      </div>
      <div class="body">
        {{artObject.objectName}}
      </div>
    </div>
    <div class="info" >
      <div class="header">
        Credit Line
      </div>
      <div class="body">
        {{artObject.creditLine}}
      </div>
    </div>
  </div>
  <hr/>

</div>
