<div class="container">
  <div >
    <h3>Welcome to Metropolitan Museum</h3>
    <hr>
    <h4>Please browse the museum by searching with a keyword here</h4>
    <div >
      <input type="text" class="searchBar" [(ngModel)]="searchInput" (ngModelChange)="searchInputChanged.next($event)">
      <h5 *ngIf="loading">Loading...</h5>
    </div>
    <hr/>
  </div>
  <div class="mainBody">
    <div class="searchResults">
        <div *ngFor="let art of resultArr" (click)="selectedArt = art"  >
          <div appHighlight class="result">
            <div>
              <h4>{{art.title}}</h4>
              <a href="{{art.objectURL}}" target="_blank">Click here to see details in MetMuseum</a>
            </div>
            <img src="{{art.primaryImageSmall}}" class="img-responsive image">
          </div>
        </div>
      <h5 *ngIf="loading">Loading...</h5>
      <h5 *ngIf="errorMessage">{{errorMessage}}</h5>
    </div>

    <div *ngIf="selectedArt" class="details">
      <app-item-detail [artObject]="selectedArt"></app-item-detail>
    </div>
  </div>
</div>

