<div class="container">
  <div class="col-md-12">
    <h3>Welcome to Metropolitan Museum</h3>
    <hr>
    <h4>Please browse the museum by searching with a keyword here</h4>
    <div class="input-group">
      <input type="text" style="width: 27%" [(ngModel)]="searchInput" >
      <button class="btn btn-primary" (click)="search()">Search</button>
    </div>
    <hr/>
    <ul class="list-group">
      <li *ngFor="let art of resultArr">
        <div class="list-group-item clearfix">
          <div class="col-md-4">
            <h4>{{art.title}}</h4>
            <a href="{{art.objectURL}}">{{art.objectURL}}</a>
          </div>
          <div class="col-md-4">
            <img src="{{art.primaryImageSmall}}" class="img-responsive" style="max-height: 80px">
          </div>
        </div>
      </li>
    </ul>

  </div>
</div>
